body
{
margin: 0px;
padding: 0px;
font-size: 1em;
font-family: Arial;
position: relative;
}
h1
{
font-size: 1.5em;
text-align: center;
}
h2
{
font-size: 1.4em;
text-align: center;
}
h3
{
font-size: 1.3em;
text-align: center;
}
h4
{
font-size: 1.2em;
text-align: center;
}
h5
{
font-size: 1.1em;
text-align: center;
}
h6
{
font-size: 1em;
text-align: center;
}
ul
{
margin: 0px auto;
padding: 0px auto;
}
p
{
text-indent: 0px;
}
a:link, a:visited
{
text-decoration: none;
}
a:hover, a.active
{
text-decoration: underline;
}
input, textarea, select
{
color: #333333;
border: 1px solid #333333;
font-size: .8em;
}
.header
{
position: relative;
width: 100%;
background-repeat: repeat-x;
background-position: bottom left;
margin: 0px 0px 0px;
padding: 5px;
text-align: center;
}
.header .logo
{
margin-left: 10px;
display: none;
}
.header .sitename
{
margin: 10px 0px;
}
.header .sitename a
{
font-size: 1.5em;
text-decoration: none;
text-shadow: #000000 1px 1px 1px;
}
.header .slogan
{
font-size: 1.2em;
position: relative;
margin: 0px;
}
.body
{
width: auto;
position: relative;
margin: 10px;
}
.body img 
{
max-width: 100px;
height: auto;
}
.body h1, .body h2, .body h3, .body h4, .body h5, .body h6, .body p {
margin-top: 0px;
margin-bottom: 0px;
}
.footer
{
width: auto;
margin: 40px 20px 0px 20px;
padding: 0px;
height: 100px;
}
.promo
{
margin: 10px;
float: right;
}
.version_switcher
{
margin: 10px;
float: right;
}
ul.message
{
background-color:#9df9b1;
border:1px dotted #888888;
padding: 5px;
}
ul.error
{
background-color:#f99d9d;
border:1px dotted #888888;
padding: 5px;
}
ul.message, ul.error
{
list-style: circle inside;
margin: 10px 0px;
color: #000000;
}
ul.message ul, ul.error ul
{
margin: 0px;
padding: 0px;
}
ul.message a, ul.error a, ul.message a:visited, ul.error a:visited
{
color: #000000;
text-decoration: underline;
}
ul.message a:hover, ul.error a:hover
{
text-decoration: none;
}
.pager
{
clear: both;
}
* html .pager
{
width: 100%;
}
.pager ul
{
width: auto;
height: 20px;
list-style: none;
clear: both;
}
.pager ul li
{
float: left;
height: 20px;
line-height: 20px;
margin: 2px;
}
* html .pager ul li
{
width: 20px;
}
.pager ul li a, .pager ul li span
{
display: block;
height: 20px;
line-height: 20px;
padding: 2px 6px;
text-decoration: none;
}
.pager ul li.current span, .pager ul li a:hover
{
text-decoration: none;
border-top: none;
border-bottom: 1px solid #000000;
}
div.login_form
{
padding: 20px 0px;
background: url('images/users.png') no-repeat 20px 5px;
}
div.login_form table
{
width: 100%;
}
div.login_form table td
{
padding: 5px;
}
span.login
{
color: #220022;
}
a.logout
{
color: #ff2200;
}
.languages-panel
{
width: 100%;
height: 20px;
}
ul.language-switcher
{
margin: 0px;
list-style: none;
padding: 0px;
}
ul.language-switcher li
{
float: left;
padding-left: 10px;
}
ul.language-switcher li a
{
font-size: .8em;
text-decoration: none;
}
ul.language-switcher li a:hover
{
text-decoration: underline;
}
ul.language-switcher li span
{
font-size: .8em;
}
.clear
{
clear: both;
margin: 0px;
padding: 0px;
}
.block-lt
{
height: 40px;
background-repeat: no-repeat;
background-position: top left;
padding-left: 20px;
}
.block-rt
{
height: 40px;
background-repeat: no-repeat;
background-position: top right;
padding-right: 20px;
}
.block-lb
{
height: 20px;
background-repeat: no-repeat;
background-position: bottom left;
padding-left: 20px;
}
.block-rb
{
height: 20px;
background-repeat: no-repeat;
background-position: bottom right;
padding-right: 20px;
}
.block-l
{
background-repeat: repeat-y;
background-position: top left;
padding-left: 20px;
}
.block-r
{
background-repeat: repeat-y;
background-position: top right;
padding-right: 20px;
}
.block-caption
{
height: 40px;
line-height: 40px;
color: #ffffff;
font-size: 13px;
white-space: nowrap;
text-align: center;
}
.block-body
{
margin: 0px auto;
}
.block-body div
{
padding: 0px;
/*padding: 0px 10px;*/
}
.block-body div div
{
padding: 0px;
}
.widget
{
zoom: 1;
overflow: hidden;
padding: 0px !important;
}
a.btn, a.btn:visited
{
display: block;
width: 140px;
height: 30px;
line-height: 30px;
background: url('images/arrow.gif') no-repeat right center;
font-size: 12px;
text-decoration: none;
text-align: right;
white-space: nowrap;
padding-right: 20px;
}
a.btn:hover
{
display: block;
width: 140px;
height: 30px;
line-height: 30px;
background: url('images/arrow.gif') no-repeat right center;
font-size: 12px;
text-decoration: none;
text-align: right;
white-space: nowrap;
padding-right: 20px;
}
.node-block
{
margin-top: 10px;
clear: both;
}
.node-lt
{
margin: 0px;
padding-left: 20px;
height: 20px;
background-repeat: no-repeat;
background-position: bottom left;
}
.node-rt
{
margin: 0px;
padding-right: 20px;
height: 20px;
background-repeat: no-repeat;
background-position: bottom right;
}
.node-lb
{
margin: 0px;
padding-left: 20px;
height: 20px;
background-repeat: no-repeat;
background-position: top left;
}
.node-rb
{
margin: 0px;
padding-right: 20px;
height: 20px;
background-repeat: no-repeat;
background-position: top right;
}
.node-t
{
margin: 0px;
height: 20px;
background-repeat: repeat-x;
background-position: bottom left;
}
.node-b
{
margin: 0px;
height: 20px;
background-repeat: repeat-x;
background-position: top left;
}
.node-l
{
margin: 0px;
padding-left: 20px;
background-repeat: repeat-y;
background-position: top left;
}
.node-r
{
margin: 0px;
padding-right: 20px;
background-repeat: repeat-y;
background-position: top right;
}
.node
{
zoom: 1;
margin: 0px;
padding: 0px;
background-repeat: repeat;
background-position: top left;
}
.right-arrow
{
display: block;
width: 32px;
height: 32px;
background: url('images/right-arrow.png') no-repeat left top;
}
.left-arrow
{
display: block;
width: 32px;
height: 32px;
background: url('images/left-arrow.png') no-repeat left top;
}
.configure-link
{
display: block;
width: 22px;
height: 22px;
background: url('../../misc/configure.png') no-repeat left top;
}
.shadow
{
background-repeat: repeat-x;
background-position: top left;
height: 3px;
overflow: hidden;
}

.comments-caption {
text-align: center;
}
.comment-date {
display: none;
}