ul.parent-menu-list,
ul.child-menu-list
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
ul.parent-menu-list li a:link, ul.parent-menu-list li a:visited,
ul.child-menu-list li a:link, ul.child-menu-list li a:visited
{
display: block;
padding: 5px 20px;
margin: 0px;
background-color: rgb(248, 237, 206);
color: #000;
}
ul.parent-menu-list li a:hover, ul.parent-menu-list li a.active,
ul.child-menu-list li a:hover, ul.child-menu-list li a.active
{
color: #fff;
background-color: rgb(54, 62, 74);
text-decoration: none;
}