#ajaxerLoader {
position: absolute;
left: 0px;
top: 0px;
display: none;
height: 20px;
font-size: 12px;
line-height: 20px;
padding: 0px 5px 0px 20px;
background: #000000 url(images/loader.gif) no-repeat 2px 2px;
color: #ffffff;
border: 1px solid #dddddd;
-moz-border-radius: 9px;
border-radius: 9px;
z-index: 99999999;
}
#ajaxerBG {
position: absolute;
left: 0px;
top: 0px;
display: none;
background-color: #000000;
z-index: 9999999;
}
